<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>generic_url</h1>
        <h2>i am travelling one html page o another html page
            by using anchor tag
        </h2>
        <a href="{% url 'generic_url2' %}">click here and go to generic_url2</a>
    </center>
</body>
</html>